---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <div class="h-num">
          <h2 class="h"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
      </div>
      
      <div class="entry">{{ post.excerpt }}</div>

      <a href="{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  <div class="pag-button pag-left">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">
        <i class="fas fa-arrow-left"></i>
        <span>Новее</span>
      </a>
    {% endif %}
  </div>

  <span class="pag-number">
    {{ paginator.page }} / {{ paginator.total_pages }}
  </span>

  <div class="pag-button pag-right">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">
        <span>Старее</span>
        <i class="fas fa-arrow-right"></i>
      </a>
    {% endif %}
  </div>
</div>
