---
---

$color_text:            #333;
$color_text_hover:      #555;
$color_background_card: #eee;

@import '//fonts.googleapis.com/css?family=Muli';
/*----------------------------------------------------------------*/
body {
    font-family: 'Muli', sans-serif;
    color: $color_text;
}
a {
    color: $color_text;
    text-decoration: none;

    &:hover { color: $color_text_hover; }
}
pre {
    margin-bottom: 2em;
    background-color: $color_background_card;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
}
img {
    max-width: 100%;
}
/*----------------------------------------------------------------*/
.content .sub-content {
    // в статьях ссылки с нижним подчеркиванием
    a { text-decoration: underline; }

    .post { // пост на главной и сингл
        .h-num { // блок с заголовком и датой
            .h { margin: 0; }
            .date {
                font-size: .8em;
                font-style: italic;
                padding-top: 5px;
            }
        }
    }
    .posts { // на главной
        .post { // карточки постов
            margin-bottom: 2em;
            background-color: $color_background_card;
            border-radius: 5px;
            padding: 10px;
        }
    }
    .pagination {
        display: flex;
        justify-content: space-between;
    
        > * {
            flex: 0 0 100px;
            text-align: center;
        }
        .pag-number { flex-grow: 1; }
    }
}
/*----------------------------------------------------------------*/
.body {
    --my-width-header: 35%; // ширина бокового хидера

    .header { // боковой хидер
        position: fixed;
        height: 100vh;
        width: var(--my-width-header);

        background:
            linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url(images/sidebar-img.jpg) center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        a {
            // text-transform: uppercase;
            color: white;
            font-size: 2em;
        }
        .ref {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 30px;
            grid-gap: 30px;
        }
    }
    .content { // контент сайта
        padding-left: var(--my-width-header);
        width: calc(100% - var(--my-width-header));

        .sub-content { padding: 20px; }
    }
    // на мобильном хидер уходит в типичное место
    @media (max-width: 1000px) {
        .header {
            position: unset;
            height: 200px;
            width: 100%;
        }
        .content {
            padding-left: 0;
            width: 100%;
        }
    }
}
/*----------------------------------------------------------------*/
