<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}
      {{ site.title }}
    </title>

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="yandex-verification" content="d4e9007f23662170" />
    <meta name="google-site-verification" content="XfVAAb14s9GdNwijyP94NJgVdLgWMrB86zp3jIWPzcc" />
    {% include metrika.html %}

    {% if page.excerpt %}
      <meta name="description" content="{{ page.excerpt }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}" />
    {% endif %}

    <!------------->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.4.1/css/all.css">
    <!------------->
  </head>

  <body class="body">
    <header class="header">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div class="ref">
        <a href="{{ site.baseurl }}/about/"> <i class="fas fa-info-circle"></i></a>
        <a href="//github.com/vlad-ku/">     <i class="fab fa-github"></i></a>
        <a href="//t.me/vlad_ku">            <i class="fab fa-telegram"></i></a>
      </div>
    </header>

    <div class="content">
      <div class="sub-content">
        {{ content }}
      </div>
    </div>

    <!-- <footer class="footer">

    </footer> -->
  </body>
</html>
